/.vs
obj
bin
/.svn
/DrivePal.Infrastructure/obj
/DrivePal.BlazorServer/obj 
/DrivePal.Infrastructure/obj
/DrivePal.UI/obj
/DrivePal.WPF/obj
/DrivePal.Infrastructure/bin
/DrivePal.BlazorServer/bin
/DrivePal.Infrastructure/bin
/DrivePal.UI/bin
/DrivePal.WPF/bin
.vs/DrivePal/v18/.suo
/DrivePal.WPF/bin/Debug/net8.0-windows
/DrivePal.WPF/bin/Debug
/DrivePal.WPF/bin
/DrivePal.WPF/obj 
/DrivePal.WPF/obj/Debug
/DrivePal.WPF/obj/Debug/net8.0-windows
/DrivePal.WPF/bin/publish
/.svn
/.vs
/DrivePal.WPF/obj
/DrivePal.UI/obj
/DrivePal.Infrastructure/obj
/DrivePal.Core/obj
/DrivePal.BlazorServer/obj
